USE [master]
GO
/****** Object:  Database [Dictionary]    Script Date: 9.10.2015 г. 17:55:31 ******/
CREATE DATABASE [Dictionary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dictionary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Dictionary.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Dictionary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Dictionary_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dictionary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dictionary]
GO
/****** Object:  Table [dbo].[EXPLANATIONS]    Script Date: 9.10.2015 г. 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPLANATIONS](
	[WordId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[ExplanationText] [nchar](10) NULL,
	[ExplanationId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EXPLANATIONS] PRIMARY KEY CLUSTERED 
(
	[ExplanationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LANGUAGES]    Script Date: 9.10.2015 г. 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANGUAGES](
	[LanguageId] [int] NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LANGUAGES] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYNONIMS]    Script Date: 9.10.2015 г. 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYNONIMS](
	[WordId] [int] NOT NULL,
	[WordSynonymId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANSLATIONS]    Script Date: 9.10.2015 г. 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSLATIONS](
	[WordId] [int] NOT NULL,
	[TranslationId] [int] NOT NULL,
	[TanslationText] [nchar](10) NULL,
 CONSTRAINT [PK_TRANSLATIONS] PRIMARY KEY CLUSTERED 
(
	[TranslationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WORDS]    Script Date: 9.10.2015 г. 17:55:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORDS](
	[WordId] [int] NOT NULL,
	[Words] [nvarchar](50) NOT NULL,
	[LanguageId] [int] NOT NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[WordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[EXPLANATIONS]  WITH CHECK ADD  CONSTRAINT [FK_WordExplanations_Words] FOREIGN KEY([WordId])
REFERENCES [dbo].[WORDS] ([WordId])
GO
ALTER TABLE [dbo].[EXPLANATIONS] CHECK CONSTRAINT [FK_WordExplanations_Words]
GO
ALTER TABLE [dbo].[SYNONIMS]  WITH CHECK ADD  CONSTRAINT [FK_SYNONIMS_WORDS] FOREIGN KEY([WordId])
REFERENCES [dbo].[WORDS] ([WordId])
GO
ALTER TABLE [dbo].[SYNONIMS] CHECK CONSTRAINT [FK_SYNONIMS_WORDS]
GO
ALTER TABLE [dbo].[TRANSLATIONS]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATIONS_WORDS] FOREIGN KEY([TranslationId])
REFERENCES [dbo].[WORDS] ([WordId])
GO
ALTER TABLE [dbo].[TRANSLATIONS] CHECK CONSTRAINT [FK_TRANSLATIONS_WORDS]
GO
ALTER TABLE [dbo].[WORDS]  WITH CHECK ADD  CONSTRAINT [FK_WORDS_LANGUAGES] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[LANGUAGES] ([LanguageId])
GO
ALTER TABLE [dbo].[WORDS] CHECK CONSTRAINT [FK_WORDS_LANGUAGES]
GO
USE [master]
GO
